.modal-fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 1300;
    will-change: opacity;
    transition: opacity 0.25s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.modal-body {
    background: #fff;
    box-shadow: 0 7px 22px 0 rgba(50, 50, 50, 0.3);
    margin: 100px auto;
    padding: 30px 30px 35px;
    max-width: 560px;
    width: 100%;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transform: translate(0, -25%);
}




.modal-fade--open {
    opacity: 1;
    visibility: visible;
}

.modal-fade--open .modal-body {
    opacity: 1;
    transform: translate(0, 0);
}